*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    /* background-color: #000; */
    

}
.BigOne{
    width: 0%;
    height: 100%;
    /* background-color: black; */
     background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
     animation: Progress-animation 3s forwards;
}
 
@keyframes Progress-animation{
   0% { width: 0%;}
   100% {width: 100%;}
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(14em + 14vw);
    height: 100vh;
    display: flex;
    justify-content: center;
}
header{
    font-size: calc(.8em + .9vw);
    font-weight: 800;
    color: #000;
}
nav{
    position: absolute;
    width: 100vw;
    height: 10%;
    background-color: rgb(0, 0, 0, 0.4);
    padding-block: 1em;
    z-index: 1;
    animation: jump 1s infinite;
}

@keyframes jump {
    0%{
   transform: translateY(0);

    }
    50%{
     transform: translateY(-20px);
    }
    100%{
    transform: translateY(0);
    }
}
nav img{
    cursor: pointer;
}
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: wheat; */
    background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
    padding: 1em;
    border-radius: .2em;
    gap: .5em;
    width: 100%;
    width: 100%;
    height: 90%;
    gap: .6em;
}
.form-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .6em;
}
.text{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
     font-size: calc(.4em + .4vw);
    background-color:  rgb(0, 0, 0, 0.1);
   
}
#NamePlus{
    border-radius: .3em;
    border: .1em solid #000;
    width: 100%;
    height: 2em;
    text-decoration: none;
}
#NamePlus::-webkit-inner-spin-button, #NamePlus::-webkit-outer-spin-button{
  -webkit-appearance: none;
}
input{
    outline: none;
    height: 100%;
}
h1{
    font-size: calc(.6em + .6vw);
    font-weight: 800;
}
h1 span{
    color: rgb(0, 0, 0, 0.5);
    font-size: calc(.5em + .5vw);
}
button{
    padding-inline: .3em;
    padding-block: .3em;
    cursor: pointer;
}
#textInput{
    width: 100%;
}




